http_interactions:
- request:
    method: get
    uri: https://usgs.osn.mghpcc.org/mdmf/gdp/hawaii_present.zarr/.zmetadata
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      last-modified: Tue, 14 May 2024 21:08:11 GMT
      x-rgw-object-type: Normal
      etag: '"f67e6e8dafe537836d70b4ea1d179e6c"'
      x-amz-meta-mtime: '1715275844.519'
      x-amz-request-id: tx000004f86d608fc81d1c5-00664b555c-34734-default
      content-type: binary/octet-stream
    body:
      encoding: ''
      file: no
      string: |-
        {
            "metadata": {
                ".zattrs": {
                    "ADAPT_DT_MAX": 48.0,
                    "ADAPT_DT_MIN": 12.0,
                    "ADAPT_DT_START": 5.0,
                    "AER_ANGEXP_OPT": 1,
                    "AER_ANGEXP_VAL": 1.2999999523162842,
                    "AER_AOD550_OPT": 1,
                    "AER_AOD550_VAL": 0.11999999731779099,
                    "AER_ASY_OPT": 1,
                    "AER_ASY_VAL": 1.401298464324817e-45,
                    "AER_OPT": 1,
                    "AER_SSA_OPT": 1,
                    "AER_SSA_VAL": 1.401298464324817e-45,
                    "AER_TYPE": 1,
                    "BLDT": 0.0,
                    "BL_PBL_PHYSICS": 5,
                    "BOTTOM-TOP_GRID_DIMENSION": 51,
                    "BOTTOM-TOP_PATCH_END_STAG": 51,
                    "BOTTOM-TOP_PATCH_END_UNSTAG": 50,
                    "BOTTOM-TOP_PATCH_START_STAG": 1,
                    "BOTTOM-TOP_PATCH_START_UNSTAG": 1,
                    "BUCKET_J": 1000000000.0,
                    "BUCKET_MM": 100.0,
                    "CEN_LAT": 20.10027313232422,
                    "CEN_LON": -155.95272827148438,
                    "CUDT": 0.0,
                    "CU_PHYSICS": 0,
                    "DAMPCOEF": 0.20000000298023224,
                    "DAMP_OPT": 3,
                    "DFI_OPT": 0,
                    "DIFF_6TH_FACTOR": 0.11999999731779099,
                    "DIFF_6TH_OPT": 2,
                    "DIFF_OPT": 1,
                    "DT": 9.604999542236328,
                    "DX": 800.0,
                    "DY": 800.0,
                    "FEEDBACK": 0,
                    "GFDDA_END_H": 0,
                    "GFDDA_INTERVAL_M": 0,
                    "GMT": 0.0,
                    "GRAV_SETTLING": 2,
                    "GRIDTYPE": "C",
                    "GRID_FDDA": 0,
                    "GRID_ID": 1,
                    "GRID_SFDDA": 0,
                    "HYPSOMETRIC_OPT": 2,
                    "ICLOUD": 1,
                    "ICLOUD_CU": 0,
                    "ISFFLX": 1,
                    "ISFTCFLX": 0,
                    "ISHALLOW": 0,
                    "ISICE": 24,
                    "ISLAKE": -1,
                    "ISOILWATER": 14,
                    "ISURBAN": 1,
                    "ISWATER": 16,
                    "I_PARENT_START": 1,
                    "JULDAY": 335,
                    "JULYR": 1989,
                    "J_PARENT_START": 1,
                    "KHDIF": 0.0,
                    "KM_OPT": 4,
                    "KVDIF": 0.0,
                    "MAP_PROJ": 3,
                    "MAP_PROJ_CHAR": "Mercator",
                    "MFSHCONV": 0,
                    "MMINLU": "USGS",
                    "MOAD_CEN_LAT": 0.0,
                    "MOIST_ADV_OPT": 4,
                    "MP_PHYSICS": 6,
                    "Metadata_Conventions": "Unidata Dataset Discovery v1.0",
                    "NCO": "4.6.8",
                    "NUM_LAND_CAT": 24,
                    "OBS_NUDGE_OPT": 0,
                    "PARENT_GRID_RATIO": 1,
                    "PARENT_ID": 0,
                    "POLE_LAT": 90.0,
                    "POLE_LON": 0.0,
                    "PREC_ACC_DT": 0.0,
                    "RADT": 4.0,
                    "RA_LW_PHYSICS": 4,
                    "RA_SW_PHYSICS": 4,
                    "SCALAR_ADV_OPT": 4,
                    "SCALAR_PBLMIX": 0,
                    "SF_LAKE_PHYSICS": 0,
                    "SF_OCEAN_PHYSICS": 0,
                    "SF_SFCLAY_PHYSICS": 5,
                    "SF_SURFACE_PHYSICS": 2,
                    "SF_URBAN_PHYSICS": 0,
                    "SGFDDA_END_H": 0,
                    "SGFDDA_INTERVAL_M": 0,
                    "SHCU_PHYSICS": 0,
                    "SIMULATION_INITIALIZATION_TYPE": "REAL-DATA CASE",
                    "SIMULATION_START_DATE": "1989-12-01_00:00:00",
                    "SKEBS_ON": 0,
                    "SMOOTH_OPTION": 0,
                    "SOUTH-NORTH_GRID_DIMENSION": 436,
                    "SOUTH-NORTH_PATCH_END_STAG": 436,
                    "SOUTH-NORTH_PATCH_END_UNSTAG": 435,
                    "SOUTH-NORTH_PATCH_START_STAG": 1,
                    "SOUTH-NORTH_PATCH_START_UNSTAG": 1,
                    "SPEC_BDY_FINAL_MU": 1,
                    "SST_UPDATE": 1,
                    "STAND_LON": 166.0,
                    "START_DATE": "1989-12-01_00:00:00",
                    "SURFACE_INPUT_SOURCE": 1,
                    "SWINT_OPT": 0,
                    "SWRAD_SCAT": 1.0,
                    "TITLE": " OUTPUT FROM WRF V3.7 MODEL",
                    "TKE_ADV_OPT": 1,
                    "TRACER_PBLMIX": 1,
                    "TRUELAT1": 0.0,
                    "TRUELAT2": 0.0,
                    "USE_Q_DIABATIC": 0,
                    "USE_THETA_M": 0,
                    "WEST-EAST_GRID_DIMENSION": 456,
                    "WEST-EAST_PATCH_END_STAG": 456,
                    "WEST-EAST_PATCH_END_UNSTAG": 455,
                    "WEST-EAST_PATCH_START_STAG": 1,
                    "WEST-EAST_PATCH_START_UNSTAG": 1,
                    "W_DAMPING": 0,
                    "YSU_TOPDOWN_PBLMIX": 0,
                    "acknowledgment": "https://www.sciencebase.gov/catalog/item/5a2710b6e4b03852bafb5b21",
                    "cdm_data_type": "Grid",
                    "conventions": "CF-1.7.3",
                    "creator_email": "chunxi@hawaii.edu",
                    "creator_name": "Chunxi Zhang",
                    "date_issued": "",
                    "geospatial_lat_max": "21.244751",
                    "geospatial_lat_min": "18.906525",
                    "geospatial_lon_max": "-154.79422",
                    "geospatial_lon_min": "-157.334305",
                    "history": "Thu Aug 16 12:26:57 2018: ncwa -a Time hawaii_static_vars_time.nc hawaii_static_vars.nc\nThu Aug 16 12:26:53 2018: ncks -O -v XLONG,XLAT,HGT,LANDMASK -d Time,1 RCP45/1990/wrfout_hawaii_hourly_1990-01-01.nc hawaii_static_vars_time.nc\nTue Sep  5 17:28:10 2017: ncks -O -d west_east,209,388 -d south_north,41,245 -v HGT,LANDMASK,XLAT,XLONG,LAI,LU_INDEX,GRDFLX,TSK,GSW,GLW,HFX,PSFC,LH,T2,Q2,U10,V10,RAINNC,I_RAINNC,FGDP,CFRACL,CFRACT,LWP,SNOW,SNOWC,SNOWH /Volumes/data/hawaii_800m_rcp45_1990-1991/1990/wrfout_d01_1990-01-01_00:00:00 ./rcp45/1990/wrfout_hawaii_hourly_1990-01-01.nc",
                    "history_of_appended_files": "Wed Nov 14 13:21:25 2018: Appended file temp/Time_hawaii_1990.nc had following \"history\" attribute:\nWed Nov 14 13:20:21 2018: ncap2 -O -v -s Time=XTIME hawaii_1990.nc temp/Time_hawaii_1990.nc\nWed Nov 14 13:20:21 2018: ncatted -a coordinates,,m,c,XLONG XLAT Time hawaii_1990.nc\nWed Nov 14 13:05:16 2018: ncatted -a coordinates,,m,c,XLONG XLAT Time hawaii_1990.nc\nWed Nov 14 13:02:31 2018: ncatted -a coordinates,,m,c,XLONG XLAT Time hawaii_1990.nc\nWed Nov 14 12:54:45 2018: ncatted -a coordin[...]
